* {
    background-color: rgb(44, 48, 48);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    margin: 10px 0;
    width: 200px;
    height: 100px;
    border-radius: 5%;
}

nav {
    display: flex;
    justify-content: space-around;
}

.nav-button {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 25%;
    background-color: rgb(92, 99, 81);
    color: rgb(250, 232, 198);

}

.nav-button:hover {
    color: rgb(92, 99, 81);
    background-color: rgb(250, 232, 198);
    transition-duration: 500ms;
}

h1 {
    margin: 10px 0;
    font-size: 3em;
    color: whitesmoke;
}

h2 {
    margin: 40px 0 0 10px;
    font-size: 2em;
    color: rgb(244, 114, 114);
}

span {
    border-radius: 5%;
    color: rgb(244, 114, 114);
    background-color: rgb(51, 56, 56);
}

.card {
    padding: 16px;
    width: 30%;
    align-items: center;
    display: flex;
    text-align: justify;
    background-color: rgb(35, 40, 40);
    color: rgb(243, 210, 210);
    border-radius: 2%;
    font-size: large;
}

.collection {
    display: flex;
    margin: 20px 10px;
    justify-content: space-between;

}

#footer {
    position: fixed;
    bottom: 0px;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    font-size: large;
}

.footer-link {
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

@media screen and (max-width:1024px) {
    .collection {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}

@media screen and (max-width:640px) {
    #footer {
        position: relative;
    }
}